<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title ng-bind="title">@(PageData["title"] ?? "成绩分析系统")</title>

    @Styles.Render("~/content/css/app")
</head>
<body >
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-if=" !layout " ng-controller="HomeController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">成绩分析系统</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="nav" class="navbar-collapse collapse">
                    <li class="top" ng-repeat="menuItem in auth.menus | filterFuncByParent: '0000' ">
                        <a class="top_link" href="#">
                            <span class="down">{{menuItem.Description}}</span>
                        </a>
                        <ul class="sub">
                            <li ng-repeat="menuSub in auth.menus | filterFuncByParent : menuItem.FuncID">
                                <a ng-class="{fly : menuSub.HasChild == '1', forbidden:menuSub.HasFunc=='0' && menuSub.HasChild=='0'}" style="cursor:pointer;" href="/usergroup">{{menuSub.Description}}</a>
                                <ul ng-if="menuSub.HasChild == '1'">
                                    <li ng-repeat="menuFinal in auth.menus | filterFuncByParent : menuSub.FuncID">
                                        <a href="#" ng-class="{forbidden:menuFinal.HasFunc=='0'}">{{menuFinal.Description}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="top navbar-right">
                        <a class="top_link" href="#">
                            <span class="down">{{auth.getUser().Name}}</span>
                        </a>
                        <ul class="sub">
                            <li><a style="cursor:pointer" ng-click="logout();">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </header>
    <div class="container" style="margin-top:6em;" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        @RenderBody()
    </div>
    @Scripts.Render("~/js/vendor");
    @Scripts.Render("~/js/app")

</body>
</html>