<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "AngularJS SPA Template for Visual Studio")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/Layout3")
</head>
<body>
    <div class="wrap">
        @RenderPage("Top.cshtml")
        <div > 
            @RenderBody()
        </div>
        <div>@RenderPage("Foot.cshtml")</div>
        <a class='icon backto_top' href='#'></a>
    </div>
    @Scripts.Render("~/js/framework")
    @Scripts.Render("~/js/app")
    @Scripts.Render("~/js/Layout")
</body>
</html>
