<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "AngularJS SPA Template for Visual Studio")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/Layout")

</head>
<body>
    
    <div class="wrap">
        @RenderPage("Top.cshtml")
                <div class="main_all">
                            <div>@RenderPage("Left.cshtml")</div>
                    <div class="main_content">
                        <!--右侧头部公告开始-->
                        @RenderPage("Notice.cshtml")
                        <!--右侧头部公告结束-->
                        <div class="coursesite_box">
                            @if (Request.Path.ToLower() != "/home/courseindex")
                            {
                                @RenderPage("MyOC.cshtml")
                            }
                            <div id="ui-view" class="main_content " data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <div>@RenderPage("Foot.cshtml")</div>
        <a class='icon backto_top' href='#'></a>
        <a class='icon_fold' href='javascript:;'></a>
     </div>

    @Scripts.Render("~/js/framework")
    @Scripts.Render("~/js/app")
    @Scripts.Render("~/js/Layout")
  
</body>
</html>