@using IES.Cache;
@using IES.Security;
@using IES.JW.Model;
@using IES.G2S.JW.BLL;
@using IES.Service;
@using IES.Service.Common;

@helper gethref(string url, string leftmenu)
{
    var result = url + "?leftmenu=" + leftmenu ;
    @result

}

@{
    if (Request.QueryString["userspace"] != null)
    {
        Browse.SetUserSpace(Request.QueryString["userspace"]);
    }

    if (Request.QueryString["leftmenu"] != null)
    {
        IES.Service.Common.Browse.SetLeftMenu( Request.QueryString["leftmenu"]);
    }
    

    string userspace = Browse.UserSpace;
    
    string topmenu = IES.Service.Common.Browse.TopMenu;
    string leftmenu  = IES.Service.Common.Browse.LeftMenu ;
    
    List<Menu> Menulist =new List<Menu>();
    string spacename = "教师端";
    string spaceurl = "/index?userspace=3";
    
    if( userspace == "2")
    {
        Menulist  = AuService.Menu_Left_List( topmenu, Int32.Parse(userspace));
     }

    if (userspace == "3")
    {
        Menulist = AuService.Menu_Left_List( topmenu , Int32.Parse(userspace));
        spacename = "学生端";
        spaceurl = "/index?userspace=2";
    }

    
}







<div class='side_left' ng-controller="UserPermissionLeftController ">
    <div class='user'>
        <img src=@UserService.CurrentUserIMG width='110' height='100' />
        <a class='teacher_name' href='#'>@UserService.CurrentUser.UserName</a>
        <a class='switch_btn' target="_self" href=@spaceurl>@spacename<i class='icon icon_arrow'></i></a>
        <span class='icon_24 icon_user'></span>
    </div>
   
    <div class='side_box'>
        <ul class='side_nav'>
            @*@foreach (var menu in Menulist)
            {
                <li><a target="_self" href=@gethref( @menu.URL, @menu.MenuID )>@menu.Title</a></li>
            }*@


            @for (int i = 0; i < Menulist.Count; i++)
            {
                var menu = Menulist[i];
                if (menu.MenuID == @Browse.LeftMenu )
                {
                    <li class="active"><a target="_self" href=@gethref( @menu.URL, @menu.MenuID )>@menu.Title</a></li>
                }
                else
                {
                    <li><a target="_self" href=@gethref( @menu.URL, @menu.MenuID )>@menu.Title</a></li>
                }
            }

        </ul>
        <a class='more_tool' href='javascript:;'>更多工具<i class='icon icon_more'></i></a>
    </div>
</div>
