@using IES.Cache;
@using IES.Security;
@using IES.JW.Model;
@using IES.G2S.JW.BLL;
@using IES.Service;
@using IES.Service.Common;
@{
    List<Menu> DropDownMenuList = AuService.Menu_UserDropDown_List();

    if (Request.QueryString["userspace"] != null)
    {
        Browse.SetUserSpace(Request.QueryString["userspace"]);
    }

    if (Request.QueryString["topmenu"] != null)
    {
         IES.Service.Common.Browse.SetTopMenu(Request.QueryString["topmenu"]);
    }

    string userspace = Browse.UserSpace;
    List<IES.JW.Model.Menu> topmeunlist = AuService.Menu_Top_List( Int32.Parse(userspace));

}

@helper gethref(string url, string topmenu)
{
    var result = url + "?topmenu=" + topmenu;
    @result

}

<div class='public_header' id='topest' >
    <div class='header_center'>
        <div class='company_logo'><img src=@IES.Service.Common.ConfigService.CfgSchool_CC.LOGO width='70' height='30' alt=''>@IES.Service.Common.ConfigService.CfgSchool_CC.SchoolName</div>
        <div class='user_box'>
            <p class='user_name'><img src=@UserService.CurrentUserIMG width='20' height='20' />@UserService.CurrentUser.UserName<span class='icon icon_arrow'></span></p>
            <ul class='user_info'>
                @foreach (var menu in DropDownMenuList)
                {
                    <li><a target="_self" href=@menu.URL >@menu.Title</a></li>
                }
            </ul>
        </div>
        <ul class='nav_box'>
            @*<li ng-click="MemuChecked(this)" ng-repeat="menu in UserMemu" ng-model="{true: '1', false: '0'}[isshow]" 
                ng-class="{true: 'active', false: ''}[isActive]">
                <a href='#'>{{menu.Title}}</a>
            </li>*@


            @for (int i = 0; i < topmeunlist.Count; i++)
            {
                var menu = topmeunlist[i] ;
                if ( menu.MenuID  == @Browse.TopMenu )
                {
                    <li class="active"><a target="_self" href=@gethref( @menu.URL, @menu.MenuID )>@menu.Title</a></li>
                }
                else
                {
                     <li ><a target="_self" href=@gethref( @menu.URL, @menu.MenuID )>@menu.Title</a></li>
                }
            }


            @*@foreach (var menu in topmeunlist)
            {
                <li><a target="_self" href=@gethref( @menu.URL, @menu.MenuID )  >@menu.Title</a></li>
            }*@

        </ul>
    </div>
   
</div>