<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "AngularJS SPA Template for Visual Studio")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("/content/css/app")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">

                <!-- -----------------------------------------
                Demo 3 -->
                <section id="skin2">

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">
                                <a class="brand" href="#"><img src="images/logo.png" alt="Logo" /></a>
                                <div class="nav-collapse collapse navbar-responsive-collapse">
                                    <ul class="nav">
                                        <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
                                        <li><a href="#"><i class="icon-cog"></i> Plugins</a></li>
                                        <li><a href="#"><i class="icon-magic"></i> Graphics</a></li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-desktop"></i> Templates <i class="icon-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"><i class="icon-heart"></i> Free Templates</a></li>
                                                <li><a href="#"><i class="icon-credit-card"></i> Premium Templates</a></li>

                                                <li class="dropdown-submenu">
                                                    <a tabindex="-1" href="#"><i class="icon-desktop"></i> WordPress Themes</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#"><i class="icon-heart"></i> Free WordPress Themes</a></li>
                                                        <li><a href="#"><i class="icon-credit-card"></i> Premium WordPress Themes</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>



                                </div><!-- /.nav-collapse -->
                            </div>
                        </div><!-- /navbar-inner -->
                    </div><!-- /navbar -->


                </section>


            </div><!-- /span12 -->
        </div><!-- /row-fluid -->
    </div><!-- /container -->

    <div id="ui-view" class="container" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
        @RenderBody()
    </div>

    @Scripts.Render("/js/vendor");
    @Scripts.Render("/js/app");
</body>
</html>