
@using IES.SYS.Model;
@using IES.Cache;
@using IES.Security;
@using IES.SYS.Model;
@using IES.G2S.SYS.BLL;
@using IES.Service;
@{
    List<Menu> DropDownMenuList = AuService.Menu_UserDropDown_List();

    List<Menu> TopMenulist = AuService.Menu_Top_List(2);
}



<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="appTitle">@(PageData["title"] ?? "AngularJS SPA Template for Visual Studio")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/app") 
</head>
<body class="exercise">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrap">
        <!--公共头部开始-->
        <div class="public_header">
            <div class="header_center">
                <div class="company_logo">
                    <img src="../../images/company_logo.png" width="70" height="30" alt="">上海卓越睿新数码科技有限公司
                </div>
                <div class="user_box">
                    <p class="user_name">
                        <img src=@UserService.CurrentUserIMG width="20" height="20" />
                        @UserService.CurrentUser.UserName
                        <span class="icon icon_arrow"></span>
                    </p>
                    <ul class="user_info">
                        @foreach (var menu in DropDownMenuList)
                        {
                            <li><a href=@menu.URL>@menu.Title</a></li>
                        }
                    </ul>
                </div>
                <ul class="nav_box">

                    @foreach (var menu in TopMenulist)
                    {
                        <li><a href=@menu.URL>@menu.Title</a></li>
                    }

                </ul>
            </div>
        </div>
        <!--公共头部结束--> 

        <div ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
            @RenderBody()
        </div>

        <!--公用底部开始-->
        <div class="footer">
            <p class="copyright"><img src="/images/company_logo2.png" width="70" height="30" alt="">Copyright©2003-2014，版权所有 www.able-elec.com</p>
            <div class="company_info">
                <a href="#" target="_blank">关于卓越</a>|
                <a href="#" target="_blank">服务中心</a>|
                <a href="#" target="_blank">版权说明</a>|
                ©2004-2015版权所有 上海卓越睿新数码科技有限公司
            </div>
        </div>
        <!--公用底部结束-->
        <a class="icon backto_top" href="#"></a>
    </div>
    @Scripts.Render("~/js/framework")
    @Scripts.Render("~/js/app")
    <script src="/Scripts/PageAffect/index.js" type="text/javascript"></script>

</body>
</html>