@using IES.JW.Model;
@using IES.Cache;
@using IES.Security;
@using IES.Service;
@{
    List<Menu> DropDownMenuList = AuService.Menu_UserDropDown_List();

    List<Menu> TopMenulist = AuService.Menu_Top_List(2);

    List<Menu> LeftMenu = AuService.Menu_Left_List("B2", 2);
}

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="appTitle">@(PageData["title"] ?? "我的资源")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/app")
    <script>
        //应用程序根目录-->  结果('/')||('/g2s')
        window.appPatch = "@Request.ApplicationPath" == "/" ? "" : "@Request.ApplicationPath";
    </script>
</head>
<body class="exercise">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrap">
        <!--公共头部开始-->
        <div class="public_header">
            <div class="header_center">
                <div class="company_logo">
                    @*<img src="../../images/company_logo.png" width="70" height="30" alt="">上海卓越睿新数码科技有限公司*@
                    <img src="images/company_logo.png" width="70" height="30" alt="">上海卓越睿新数码科技有限公司
                </div>
                <div class="user_box">
                    <p class="user_name">
                        @*<img src=@UserService.CurrentUserIMG width="20" height="20" />*@
                        <img src="/images/user.jpg" width="20" height="20" />
                        @*@UserService.CurrentUser.UserName*@
                        <span class="icon icon_arrow"></span>
                    </p>
                    <ul class="user_info">
                        @foreach (var menu in DropDownMenuList)
                        {
                            <li><a href=@menu.URL>@menu.Title</a></li>
                        }
                    </ul>
                </div>
                <ul class="nav_box">

                    @foreach (var menu in TopMenulist)
                    {
                        <li><a href=@menu.URL>@menu.Title</a></li>
                    }

                </ul>
            </div>
        </div>
        <!--公共头部结束-->
        <div class="main_all main_course">
            <!--首页左边模块开始-->
            <div class="side_left" ng-show="enableSideLeft">
                <!--用户信息开始-->
                <div class="user">
                    @*<img src=@UserService.CurrentUserIMG width="110" height="100" />*@
                    <img src="/images/user.png" width="110" height="100" />
                    <a class="teacher_name" href="#"> @UserService.CurrentUser.UserName 	</a>
                    <a class="switch_btn" href="#" style="width:120px;">这里是教师端<i class="icon icon_arrow"></i></a>
                    <span class="icon_24 icon_user"></span>
                </div>
                <!--用户信息结束-->
                <!--侧边导航开始-->
                <div class="side_box">
                    <ul class="side_nav">
                        @foreach (var menu in LeftMenu)
                        {
                            <li id="@menu.MenuID" ui-sref-active="active"><a ui-sref="@menu.URL">@menu.Title</a></li>
                        }
                    </ul>
                </div>
                <!--侧边导航结束-->
            </div>
            <!--首页左边模块结束-->
            <!--右侧主题内容开始-->
            <div class="main_content" ng-class="{'margin_exercise_new': !enableSideLeft}">
                <!--右侧头部公告开始-->
                <div class="right_header" ng-show="!enableWizard">
                    <p class="freshman"><i class="icon icon_question"></i><a href="#" target="_blank">新手向导</a></p>
                    <div class="notice_box">
                        <ul class="notice_list">
                            <li style="display:block;"><i class="icon notice_icon"></i>上海卓越《课程中心》4.0版本正式上线，特此公告，此次版本将全面兼容MOOCs课程，功能与界面更友好</li>
                            <li><i class="icon notice_icon"></i>线，特此公告，此次版本将全面兼容MOOCs课程，功能与界面更友好</li>
                        </ul>
                        <div class="notice_btn">
                            <a class="icon prev_btn" href="javascript:;"></a>
                            <a class="icon next_btn" href="javascript:;"></a>
                        </div>
                    </div>
                </div>
                <!--右侧头部公告结束-->
                <div ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens["templateUrl"]">
                    @RenderBody()
                </div>
            </div>
            <!--右侧主题内容结束-->

        </div>
        <a class="icon_fold" href="javascript:;" ng-show="enableSideLeft"></a> 
        <!--公用底部开始-->
        <div class="footer">
            <p class="copyright"><img ng-src="{{basePath}}/images/company_logo2.png" width="70" height="30" alt="">Copyright©2003-2014，版权所有 www.able-elec.com</p>
            <div class="company_info">
                <a href="#" target="_blank">关于卓越</a>|
                <a href="#" target="_blank">服务中心</a>|
                <a href="#" target="_blank">版权说明</a>|
                ©2004-2015版权所有 上海卓越睿新数码科技有限公司
            </div>
        </div>
        <!--公用底部结束-->
        <a class="icon backto_top" href="javascript:scroll(0,0)"></a>
    </div>
    @Scripts.Render("~/js/framework")
    @Scripts.Render("~/js/app")
    @*<script src="/Scripts/PageAffect/index.js" type="text/javascript"></script>*@

</body>
</html>